[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "heaping"]
	path = heaping
	url = https://github.com/matthias-da/heaping
[submodule "robCompositions"]
	path = robCompositions
	url = https://github.com/matthias-da/robcompositions
